@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arya&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-size: 15pt;
    background:#FFFFFF;
}
#Display{
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  transition: all .3s ease-in;
}
#Display img{
  width: 30%;
  filter: drop-shadow(2px 2px 3px #42445A);
}
#Display h4{
  color: #C3C3C4;
  font-family: 'Poppins', sans-serif;
}
#screenS{
  background: #FFFFFF;
  color: #000000;
  width: 100vw;
  height: 100vh;
  display: none;
  transition: all 4s linear;
  padding-top: 20px;
  padding-left: 20px;
}
.ml2 {
  font-weight: 900;
  font-size: 2em;
 
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
  opacity: 0;
}
#cake{
  width: 90%;
  opacity: 0;
}
.typed-cursor {
  display: none;
}
.element{
  text-align: left;
  padding: 10px;
  font-family: 'Arya', sans-serif;
  line-height: 20px;
  font-size: 12pt;
  
}
#cake{
  position: relative;
  height: 306px;
  overflow: hidden;
}
#cake img{
  width: 306px;
  position: absolute;
}
#F{
  background: #FFFFFF;
  z-index: 400;
  mix-blend-mode: lighten;
  
}
#S{
  width: 80%;
  top: 30px;
}